script.
  var _paq=_paq||[];
  _paq.push(["trackPageView"], ["enableLinkTracking"]);
  (function() {
    var u="#{config.analytics.host}";
    _paq.push(["setTrackerUrl", u+"/piwik.php"], ["setSiteId", "#{config.analytics.siteId}"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0];
    g.defer=true; g.async=true; g.src=u+"/piwik.js"; s.parentNode.insertBefore(g,s);
  })();
