doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    - var titlePrefix = ''
    - if (_view === 'result' && result) titlePrefix = result.isValid ? '[Valid] ' : '[Invalid] '
    title #{titlePrefix}Cache Manifest Validator

    meta(name="description", content="Validate your HTML5 Appcache online: Cache Manifest Validator for web application offline storage.")
    meta(name="keywords",    content="cache, manifest, cache manifest, appcache, application cache, validation, offline, html5")
    meta(name="author",      content="Frederic Hemberger")
    meta(name="robots",      content="index, follow")

    - if (_view === 'index')
      link(rel="icon", href="/favicon.ico")
    - else if (_view === 'result')
      - if (result && result.isValid)
        - var icon = "data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%10%00%00%00%10%08%02%00%00%00%90%91h6%00%00%00%19IDAT(%91c%0C%DD%10%C5%40%0A%60%22I%F5%A8%86Q%0DCJ%03%00dy%01%7F%0C%9F0%7D%00%00%00%00IEND%AEB%60%82"
      - else
        - var icon = "data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%10%00%00%00%10%08%02%00%00%00%90%91h6%00%00%00%19IDAT(%91c%BCd%AB%C2%40%0A%60%22I%F5%A8%86Q%0DCJ%03%00%DE%B5%01S%07%88%8FG%00%00%00%00IEND%AEB%60%82"
      link(rel="icon", href="#{icon}", type="image/png")

    - if (_analytics.enabled)
      script.
        var _paq=_paq||[];
        _paq.push(["trackPageView"], ["enableLinkTracking"], ["setTrackerUrl", "#{_analytics.host}/piwik.php"], ["setSiteId", "#{_analytics.siteId}"]);

    link(rel="stylesheet", href="/validator.min.css")
  body
    #header(role="banner")
      h1
        a(href="/") Cache Manifest Validator
        span Check your appcache for offline storage

    block content

    #footer(role="contentinfo")
      | Cache Manifest Validator by <a href="https://frederic-hemberger.de">Frederic Hemberger</a>.
      | source code available at <a href="https://github.com/fhemberger/manifest-validator/">GitHub</a>
      | (<a href="https://github.com/fhemberger/manifest-validator/issues">Report issue</a>).

    - if (_view === 'index')
      script(src="http://code.jquery.com/jquery.min.js")
      include _tabs

    - if (_analytics.enabled)
      script(src="#{_analytics.host}/piwik.js",async)
